
        <svg width="300" height="200" xmlns="http://www.w3.org/2000/svg">
            <rect width="200" height="200" x="0" y="0" fill="black" />
            <text x="100" y="125" text-anchor="middle" font-size="80" fill="green">DPO</text>
        </svg>